<ion-view view-title="MyProduct">

		<ion-nav-buttons side="secondary">
	      <div class="buttons">
	        <button class="button button-icon icon ion-more"
	          ng-click="openPopover($event)"></button>
	      </div>
	    </ion-nav-buttons>
	    
	    <ion-content>
						<!--	{{product.name}}
							<h3>Remove from MyProducts</h3>
							{{product.description}} -->

			<ion-item href="#/app/manufacts/{{product.producedBy._id}}/products/{{product._id}}" class="item-thumbnail-left">
				<img ng-src="{{baseURL+product.image}}">
				<h2>{{product.name}} 
				<p>{{product.description}}</p>
				<p>{{product.producedBy._id}}</p>
				<p>{{product._id}}</p>
			</ion-item>

 	    </ion-content>
<!-- 		<ion-tabs class="tabs-striped">
			<ion-tab title="Details">
					<ion-view>
						<ion-content>
							{{product.name}}
							<h3>Remove from MyProducts</h3>
							{{product.description}}
						</ion-content>
					</ion-view>
			</ion-tab>

			<ion-tab title="Alerts">
					<ion-view>
						<ion-content>
                            <h4>Total alerts: {{product.alerts.length}}</h4>
                            <ul class="list-unstyled">
                                <li ng-repeat="alert in product.alerts">
                                  <blockquote>
                                     <h3>{{alert.headline}}</h3>
                                     <p>{{alert.alert}}</p>
                                     <footer>{{alert.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                                  </blockquote>
                                </li>
                            </ul>
						</ion-content>
					</ion-view>
			</ion-tab>

			<ion-tab title="Reviews">
					<ion-view>
						<ion-content>
                            <h4>Total reviews: {{product.reviews.length}}</h4>
                            <ul class="list-unstyled">
                                <li ng-repeat="review in product.reviews">
                                  <blockquote>
                                     <h3>{{review.headline}} - {{review.rating}} Stars</h3>
                                     <p>{{review.review}}</p>
                                     <footer>{{review.postedBy.firstname}} {{review.postedBy.lastname}}, {{review.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                                  </blockquote>
                                </li>
                            </ul>
						</ion-content>
					</ion-view>
			</ion-tab>
		</ion-tabs> -->

</ion-view>