<ion-view view-title="ConsumerFirst">
  <ion-header-bar class="bar-light bar-subheader">
    <!-- <input class="blue" type="search" placeholder="Search Manufacturer" ng-model="home.filterManufact">
    <button ng-if="home.filterManufact.length"
            class="button button-icon ion-android-close input-button"
            ng-click="home.clearSearch()">
    </button> -->
    <div class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input class="search" id="search" type="search" ng-model="home.filterManufact" placeholder="Search Manufacturer">
        <i class="icon ion-close" ng-if="home.filterManufact.length" ng-click="home.clearSearch()"></i>  
    </div>
  </ion-header-bar>

  <ion-content class="padding-vertical">
    <!-- <ion-list>
      <ion-item ng-repeat="dish in dishes | filter:{category: filtText}" href="#/app/menu/{{dish._id}}" class="item-thumbnail-left">
        <img ng-src="{{baseURL+dish.image}}">
        <h2>{{dish.name}} 
        <span style="font-size:75%">{{dish.price/100 | currency}}</span>
        <span class="badge badge-assertive">{{dish.label}}</span></h2>
        <p>{{dish.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="addFavorite(dish._id)">
        </ion-option-button>
      </ion-item>
    </ion-list> -->

    <ion-list>
      <ion-item ng-repeat="manufact in home.manufacts | filter:home.findManufact(home.filterManufact)" href="#/app/manufacts/{{manufact._id}}" class="item-thumbnail-left item-text-wrap">
        <img ng-src="{{home.baseURL+manufact.image}}">
        <h2>{{manufact.name}} 
        <p>{{manufact.description}}</p>
        <!-- ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="addFavorite(dish._id)">
        </ion-option-button -->
      </ion-item>
    </ion-list>

    <!-- <ul class="media-list">
        <li class="media" ng-repeat="manufact in home.manufacts | filter:home.findManufact(filterManufact)">
            <div class="media-left media-middle">
                <a ui-sref="app.manufact({id: manufact._id})">
                    <img class="media-object img-thumbnail"
                        ng-src={{manufact.image}} alt={{manufact.name}} height="120" width="120">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a ui-sref="app.manufact({id: manufact._id})">{{manufact.name}}</a>
                </h3>
                <p>{{manufact.description}}</p>
            </div>
        </li>
    </ul> --> 


  </ion-content>
</ion-view>