
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#/">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our Mission</h2>
                <p>Builds a true relationship between customers and manufacturers.</p>
                <p>Provides manufacturers a single platform to communicate with their customers about the existing and new products.</p>
                <p>Provides customers a commingled channel of information and news about home products they own or will purchase in the future, allows them to share reviews or tips of the products they use, and alerts them with any importance information about the products.</p>
                <div class="well">
                    <blockquote>
                        <p>Get closer than ever to your customers. So close, in fact, that you tell them what they need well before they realize it themselves.</p>
                        <footer>Steve Jobs  
                        <!-- cite title="Source Title"></cite></footer -->
                    </blockquote>
                </div>
                <div class="well">
                    <blockquote>
                        <p>Focusing on the customer makes a company more resilient.</p>
                        <footer>Jeff Bezos 
                        <!-- cite title="Source Title"></cite></footer -->
                    </blockquote>            
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>November 2016</dd>
                            <dt>Stake Holder</dt>
                            <dd>CustomerFirst Inc.</dd>
                            <dt>No. of Users</dt>
                            <dd>Many :-)</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
