
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#/">Home</a></li>
                   <li class="active">Technical Support</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Technical Support</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Support Information</h3> 
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
                      20000 Broadway<br>
                      New York, NY<br>
                      10099<br>
                      <i class="fa fa-phone"></i>: +1 212 345 6789<br>
                      <i class="fa fa-fax"></i>: +1 212 8765 4321<br>
                      <i class="fa fa-envelope"></i>: 
                        <a href="mailto:support@customerFirst.com">support@customerFirst.com</a>
                   </address>
            </div>
            <!--div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h5>Map of our Location</h5>
            </div-->
            <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-primary" href="tel:+12123456789"><i class="fa fa-phone"></i> Call</a>
                    <a type="button" class="btn btn-info" href="skype:customerFirst?add"><i class="fa fa-skype"></i> Skype</a>
                    <a type="button" class="btn btn-success" href="mailto:support@customerFirst.com"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
        </div>
    </div>
