/* Empty. Add your own CSS if you like */
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}
.bar.bar-royal {
    border-color: #1c2841;
    background-color: #1c2841 !important;
    background-image: linear-gradient(0deg, #1c2841, #1c2841 50%, transparent 50%);
    color: #fff; }
    .bar.bar-royal .title {
      color: #fff; }
    .bar.bar-royal.bar-footer {
      background-image: linear-gradient(180deg, #1c2841, #1c2841 50%, transparent 50%); }
.bar.bar-positive {
    border-color: #2a3d65;
    background-color: #2a3d65 !important;
    background-image: linear-gradient(0deg, #2a3d65, #2a3d65 50%, transparent 50%);
    color: #fff; }
    .bar.bar-positive .title {
      color: #fff; }
    .bar.bar-positive.bar-footer {
      background-image: linear-gradient(180deg, #2a3d65, #2a3d65 50%, transparent 50%); }
.item-divider {
  border-color: #415e9d !important;
  background-color: #415e9d !important;
  color: #fff !important; }
.sidemenu-list .item-complex .item-content { 
  border-color: #2a3d65 !important;
  background-color: #2a3d65 !important;
  color: #fff !important; }
.item-positive {
  border-color: #2a3d65 !important;
  background-color: #2a3d65 !important;
  color: #fff !important; }
.bar.bar-light {
  border-color: #415e9d !important;
  background-color: #415e9d !important;
  background-image: linear-gradient(0deg, #415e9d, #415e9d 50%, transparent 50%) !important;
  color: #fff !important; }
.button.button-positive {
    border-color: transparent;
    background-color: #415e9d;
    color: #fff; }
  .button.button-positive.active, .button.button-positive.activated {
      border-color: #a2a2a2;
      background-color: #304675; }
.ion-search {
	font-size: 24px !important; }
.ion-close {
	color: #aaa !important;
	position: absolute !important;
    right: 14px !important;
    font-size: 24px !important; }
.item-input-wrapper {
	background-color: #415e9d !important;
	height: 37px !important; }
.tabs-striped.tabs-background-positive .tabs {
  background-color: #415e9d !important;
  background-image: none !important;
  border-color: #415e9d !important;
  height: 44px !important; }
.search {
	background-color: #415e9d;
	width: 260px;
	color: #ffffff; }
/*#search {
	color: #aaa;
	font-size: 18px;
}*/
#search:focus {
	color: #fff;
	/*font-size: 18px;*/ }